# To run the integration tests you need to create a Python virtualenv and install pyln.testing:
#   $ python -m venv venv
#   $ source venv/bin/activate
#   $ pip install pip-tools
#   $ pip-compile --strip-extras
#   $ pip-sync

pyln.testing==24.8.2
